.board-outer-container {
    display: flex;
    justify-content: center;
    background-color: black;
    margin-top: -30px;
    /* position: relative; */
    /* z-index: -1; */
}

.board-inner-container {

    height: 500px;
    width: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.undo-button {
    position: absolute;
    /* height: 48px;
    width: 48px; */
    left: 7.5%;
    bottom: 5%;
    background-color: black;
    border: none;
}

.undo-button>img {
    width: 55px;
    height: 55px;
    object-fit: cover;

}

/* mobile *******/
@media only screen and (max-width: 640px) {
    .board-inner-container {
        height: 460px;
    }

    .undo-button {
        position: absolute;
        left: 5%;
        bottom: 5%;
    }

    .undo-button>img {
        width: 45px;
        height: 45px;
    }

}