:root {
    --dropdownheightandposition: 5dvh;
    --dropdownboxwidth: 170px;
}

.container {
    background-color: rgb(197, 0, 0);
    width: 100%;
    height: 7dvh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: black;
}

.dropdown_container {
    display: flex;
    position: relative;
    flex-direction: column;
    /* width: 20%; */
    z-index: 100;
    margin-right: 5dvw;
    font-size: 24px;
    cursor: pointer;

}

.dropdown_content {
    /* width: 20%; */
    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: var(--dropdownheightandposition);
    right: 0;
    width: var(--dropdownboxwidth);
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 0 0 10px 10px;
    border-top: none;
}

.choose_mode_button {
    height: var(--dropdownheightandposition);
    width: var(--dropdownboxwidth);
    padding-left: 1dvh;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;
}

.dropdown_item {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    white-space: nowrap;
}

.curved_bottom {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


@media only screen and (max-width: 640px) {
    .dropdown_container {
        font-size: 24px;
    }

    /* .mode_button {}

    .dropdown_content {} */
}