.result_container {
  background-color: rgba(0, 128, 0, 0.904);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 6fr 1fr;
  gap: 10px;
  background-color: #444444a5;
  padding: 10px;
  box-sizing: border-box;
}

.grid_scores_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  gap: 10px;
}

.grid_end_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;
  gap: 10px;
}

.grid_item {
  background-color: rgba(255, 255, 255, 0.941);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 24px;
  font-weight: 600;
  height: 10dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .grid_scores_item {} */

.bg_red {
  background-color: red;
}

.bg_green {
  background-color: rgb(30, 189, 30);
}

.bg_blue {
  background-color: rgb(94, 94, 245);
}

.selected {
  background-color: rgb(146, 146, 146);
}

.icon_check {
  aspect-ratio: 1;
  width: 40%;
}

.icon_remove {
  aspect-ratio: 1;
  width: 33%;
}

.icon_next {
  aspect-ratio: 1;
  width: 37%;
}

.disabled_link {
  pointer-events: none;
}

.low_opacity {
  opacity: 40%;
}

.correct_animation {
  animation: blinkCorrectAnswer 4s ease forwards;
}

@keyframes blinkCorrectAnswer {
  14.28% {
    background-color: rgb(30, 189, 30);
  }

  28.5% {
    background-color: white;
  }

  42.86% {
    background-color: rgb(30, 189, 30);
  }
  57.14% {
    background-color: white;
  }

  71.42% {
    background-color: rgb(30, 189, 30);
  }

  85.7% {
    background-color: white;
  }

  100% {
    background-color: rgb(30, 189, 30);
  }
}
